/*------------------General Styles------------------*/

body {
  max-width: 100vw;
  background-color: #e3e3e3;
  margin-top: 0;
}

/*------------------Content Styles------------------*/

.box {
  background-color: #eee;
  text-align: center;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
}
.content {
  padding-top: calc(10% - 41px);
  padding-bottom: 7%;
  margin: 2em 0;
}
#status {
  margin-bottom: 50px;
}
.no_connection input, .no_connection label {
  opacity: 0.4;
  cursor: default;
}

/*------------------Header Styles------------------*/

#heading {
  padding: 6% 0;
  font-family: 'Hack', monospace;
  letter-spacing: .1em;
}
#personal {
  text-align: right;
  padding: 2% 0;
}
#personal p {
  margin-bottom: 0;
}
@media(max-width:768px) {
  #personal {
    text-align: left;
  }
}
.wrap {
  position: relative;
  width: 33.33%;
  margin: -72px 0;
  top: 50%;
  float: left;
}
label {
  margin: 1.5em auto;
}
input {
  position: absolute;
  left: -9999px;
}
.slider {
  position: relative;
  display: block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
  box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
}
.slider::before {
  position: absolute;
  content: '';
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.5em 0.3em -0.1em rgba(0, 0, 0, 0.25);
}
.slider::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 1em;
  top: 1em;
  left: 6em;
  border-radius: 50%;
  transition: 250ms ease-in;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #ddd;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), -7.25em 0 0 -0.25em rgba(0, 0, 0, 0.3);
}
input:checked+.slider.success::after {
  background-color: #67db59;
}
input:checked+.slider.waiting::after {
  background-color: #fc7c57;
}
input:checked+.slider.failure::after {
  background-color: #e83e3e;
}
input:checked+.slider::after {
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1));
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), -7.25em 0 0 -0.25em rgba(0, 0, 0, 0.12);
}
input:checked+.slider::before {
  left: 3em;
}