<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Modserver</title>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000">
	<!--Fav-->
	<link href="/img/favicon.png" rel="shortcut icon">
	<!--Font-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" integrity="sha384-ZlNfXjxAqKFWCwMwQFGhmMh3i89dWDnaFU2/VZg9CvsMGA7hXHQsPIqS+JIAmgEq" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="/css/milligram.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/page.css">
	<!--Scripts-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" type="text/javascript"></script>
</head>

<body>
	<div id="wrapper">
		<!--Slide in Sidebar-->
		<div id="sidebar-wrapper">
			<nav class="sidebar-nav">
				<li>
					<h5>Settings</h5>
				</li>
				<li><a id="night_mode">Night Mode</a></li>
				<br>
				<li>
					<h5>Status</h5>
				</li>
			</nav>
		</div>
		<!--End of Sidebar-->
		<!--Main Content Wrapper-->
		<div id="page-wrapper">
			<section class="container">
				<div class="row">
					<div class="column">
						<div id="sidebar-opener">
							<a id="sidebar-button">Settings</a>
						</div>
					</div>
				</div>
				<!--Header-->
				<div class="row">
					<div class="column column-60">
						<h3 id="heading">Modserver | Home Control</h3>
					</div>
					<div class="column" id="personal">
						<p>Made by Matt Moderwell</p>
						<a href="https://mmoderwell.com" title="mmoderwell.com">mmoderwell.com<br></a>
						<a href="https://github.com/mmoderwell/modserver" title="github.com/mmoderwell/modserver">github.com/mmoderwell/modserver</a>
					</div>
				</div>
				<!--End of Header-->
				<!--Main Content-->
				<div class="row">
					<div class="column">
						<div class="box">
							<div class="content">
								<h6 class="loading" id="color_light_status">Color Light</h6>
								<div class="row">
									<div class="column column-40">
										<i id="color" class="preview fas fa-lightbulb"></i>
									</div>
									<div class="color sliders column">
										<div class="hue short-slider">
											<p id="c_hue" class="hsl">h</p>
											<input class="bar" type="range" id="rangeinput" value="208" max="360" onchange="setHSB()" oninput="setHSB()" />
										</div>
										<div class="saturation short-slider">
											<p id="c_sat" class="hsl">s</p>
											<input class="bar" type="range" id="rangeinput" value="80" max="100" onchange="setHSB()" oninput="setHSB()" />
										</div>
										<div class="brightness short-slider">
											<p id="c_bright" class="hsl">b</p>
											<input class="bar" type="range" id="rangeinput" value="80" max="100" oninput="setHSB()" onchange="setHSB()" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="box">
							<div class="content">
								<h6 class="loading" id="white_light_status">White Light</h6>
								<div class="row">
									<div class="column column-40">
										<i id="white" class="preview fas fa-lightbulb"></i>
									</div>
									<div class="white sliders column">
										<div class="brightness short-slider">
											<p id="w_bright" class="hsl">b</p>
											<input class="bar" type="range" id="rangeinput" value="80" max="100" oninput="setB()" onchange="setB()" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<div class="box no_connection">
							<div class="content">
								<h6 class="loading" id="relay_status">Connecting<span>.</span><span>.</span><span>.</span></h6>
								<input type="checkbox" id="one" disabled/>
								<label class="slider" for="one"></label>
								<input type="checkbox" id="two" disabled />
								<label class="slider" for="two"></label>
								<input type="checkbox" id="three" disabled/>
								<label class="slider" for="three"></label>
								<input type="checkbox" id="four" disabled/>
								<label class="slider" for="four"></label>
							</div>
						</div>
					</div>
				</div>
				<!--Temperature Chart-->
				<div class="row">
					<div class="column">
						<div class="box">
							<div class="content">
								<h6 class="loading" id="temp_status">Fetching data<span>.</span><span>.</span><span>.</span></h6>
								<canvas id="tempChart" width="100%" height="50px"></canvas>
							</div>
						</div>
					</div>
				</div>
				<!--End of Main Content-->
			</section>
		</div>
	</div>
	<script src="/js/settings.js" type="text/javascript"></script>
	<script src="/js/slider.js" type="text/javascript"></script>
	<script src="/js/lights.js" type="text/javascript"></script>
	<script src="/js/status.js" type="text/javascript"></script>
	<script src="/js/temperature.js" type="text/javascript"></script>
</body>

</html>